.snowflake {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
  position: absolute;
  top: -5vh;
  overflow: hidden;
  z-index: -9999;
}
@keyframes snowfall {
  0% {
    opacity: 0.2;
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 500vh, 0);
    opacity: 0;
  }
}
.snowflake:nth-child(1) {
  --size: 1vw;
  --left-ini: -8vw;
  --left-end: 3vw;
  left: 21vw;
  animation: snowfall 54.7584s linear infinite; /* 19.68s * 2.78 */
  animation-delay: -45.592s; /* -16.4s * 2.78 */
}

.snowflake:nth-child(2) {
  --size: 0.6vw;
  --left-ini: 2vw;
  --left-end: 10vw;
  left: 17vw;
  animation: snowfall 40.9248s linear infinite; /* 14.76s * 2.78 */
  animation-delay: -41.0328s; /* -14.76s * 2.78 */
}

.snowflake:nth-child(3) {
  --size: 0.8vw;
  --left-ini: -5vw;
  --left-end: -7vw;
  left: 78vw;
  animation: snowfall 54.7584s linear infinite;
  animation-delay: -4.5432s;
}

.snowflake:nth-child(4) {
  --size: 0.6vw;
  --left-ini: -1vw;
  --left-end: -9vw;
  left: 57vw;
  animation: snowfall 27.3792s linear infinite;
  animation-delay: -41.0328s;
}

.snowflake:nth-child(5) {
  --size: 0.6vw;
  --left-ini: 9vw;
  --left-end: -1vw;
  left: 39vw;
  animation: snowfall 45.592s linear infinite;
  animation-delay: -13.6776s;
}

.snowflake:nth-child(6) {
  --size: 0.8vw;
  --left-ini: 3vw;
  --left-end: -6vw;
  left: 60vw;
  animation: snowfall 45.592s linear infinite;
  animation-delay: -4.5432s;
}

.snowflake:nth-child(7) {
  --size: 1vw;
  --left-ini: -1vw;
  --left-end: -4vw;
  left: 89vw;
  animation: snowfall 27.3792s linear infinite;
  animation-delay: -36.5536s;
}

.snowflake:nth-child(8) {
  --size: 1vw;
  --left-ini: -4vw;
  --left-end: -7vw;
  left: 33vw;
  animation: snowfall 50.1232s linear infinite;
  animation-delay: -9.0976s;
}

.snowflake:nth-child(9) {
  --size: 1vw;
  --left-ini: -4vw;
  --left-end: -4vw;
  left: 78vw;
  animation: snowfall 45.592s linear infinite;
  animation-delay: -22.6512s;
}

.snowflake:nth-child(10) {
  --size: 0.6vw;
  --left-ini: -3vw;
  --left-end: 1vw;
  left: 73vw;
  animation: snowfall 68.3688s linear infinite;
  animation-delay: -31.7856s;
}
